$border-green: #076501;
$variablename: value;
$variablename: value;

@mixin items-border {
    border-radius: 18px;
    border: 2px $border-green solid;
    background: #8fc4f330;
    color: #486263;
}

@mixin display-flex-configuration {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@mixin custom-antd-border {
    border: 2px $border-green solid;
    background: #d5f8d5b3;
}

body {
    background: #e8f6fab8;
    padding: 2% 10%;
}
